<div class="container">
  <h1>Here's your cat fact!</h1>
  <p><%= event.name %></p>
  <a href="/cats/fact">Get another cat fact!</a>

  <div class="meal-result">
    <h2 class="title">Your Search Results:</h2>
    <div id="meal"></div>
  </div>
</div>
